:root {
    /* color */
    --white-color :#fff;
    --black-color:#000;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --grey-dakr-color:#909090;
    --grey-light-color:#ededed;


    /* size */
    --padding: 12px;
    --avatar-size: 36px;

    /* Font size */
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}

* {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
li {
    list-style: none;
}
button, button:focus {
    border:none;
    cursor:pointer;
    outline:none;
    background:none;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding:var(--padding);
    background-color: #000;
    color:#fff;
}

header .logo {
    font-size:var(--font-large);
}

header .logo i{
    color:var(--red-color);
}
header .icons .fa-search{
    margin-right:var(--padding);
}

/* Video Player */
.player {
    /* top 0위치에 고정시켜 스크롤 내려도 따라오게 합니다. */
    position: sticky;
    top:0;
    text-align: center;
    background-color: #000;
}
.player .video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

.metaInfo {
    padding: var(--padding);
}

.metaInfo .metadata .hashtags{
    display: flex;
    font-size:var(--font-small);
    color:var(--blue-color);
}

.metaInfo .metadata .hashtags li{
    margin-right:10px;
    list-style: none;
}

.metaInfo .metadata .titleNBtn{
    display: flex;
}
.metaInfo .metadata .titleNBtn .title {
    font-size:var(--font-medium);
    margin-right:var(--padding);
}

.metaInfo .metadata .titleNBtn .title.clamp {
    display : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.metaInfo .metadata .titleNBtn .moreBtn {
    height:100%;
}

.metaInfo .metadata .titleNBtn .moreBtn.clicked {
    transform: rotate(180deg);
}
.metaInfo .views{
    font-size:var(--font-small);
    color: var(--grey-dakr-color);
}

.actions {
    display: flex;
    justify-content: space-around;
    margin:var(--padding) 0;
}

.actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
}

.actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding) / 2);
    font-size: 16px;
}

.actions button i.active {
    color:var(--blue-color);
}

.channel{
    display: flex;
    justify-content: space-between;
    border-top:1px solid #ededed;
    border-bottom:1px solid #ededed;
    padding: 15px;
}

.channel .metadata {
    display: flex;
    align-items: center;
}

.channel .metadata .info {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}
.channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.channel .metadata .name{
    font-size:var(--font-medium);
}

.channel .metadata .subscribers {
    font-size:var(--font-small);
    color:#909090;
}

.channel .subscribe{
    color:#ff0000;
}

.upNext{
    padding : 0 var(--padding);
}

.upNext>.title {
    font-size:var(--font-medium);
    color:var(--grey-dakr-color);
    margin-bottom: 8px;
}

.upNext .item {
    display: flex;
    margin-top: var(--padding);
}

.upNext .item .img {
    flex: 1 1 35%;
    margin-right: 10px;
}

.upNext .item .img img {
    width:100%;
}

.upNext .item .info {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
}

.upNext .item .moreBtn {
    flex: 1 1 5%;
}

.upNext .item .info .title {
    font-size: var(--font-small);
}

.upNext .item .info .chName,
.upNext .item .info .views{
    font-size: var(--font-micro);
    color: var(--grey-dakr-color);
}

.infoNupNext {
    display: flex;
    flex-direction: column;
}

/* @media screen and (min-width: 768px){
    .infoNupNext {
        flex-direction: row;
        margin: var(--padding);
    }
    
} */

.comment{
    margin-top:10px;
    margin-left:5px;
}

.comment .iam {
    margin-top:10px;
    margin-bottom: 20px;
}
.doComment .iam img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.doComment .iam #myComment {
    height: 30px;
    width: 93%;
    border:none;
    border-bottom: 1px solid #999;
}
.doComment .iam #myComment:focus{
    outline:none;
    border-bottom: 1px solid #000;
}
.comment .coItem img{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right:10px;
}
.comment .coItem {
    display: flex;
    margin-bottom:15px;
}
.coItem .pCommentSet{
    display: flex;
    flex-direction: column;
}
.coItem .pCommentSet span{
    margin-bottom: 4px;
}
.coItem .pCommentSet .upNDown button,span{
    margin-right:10px;
}
.coItem .pCommentSet .upNDown #comment2{
    padding:0 5px 0 5px;
}
@media screen and (max-width:1000px){
    .comment{
        display: none;
    }
}

@media screen and (min-width:1000px){
    .infoNupNext {
        display: flex;
        flex-direction: row;
    }
    .metaInfo{
        max-width:800px;
    }
    .upNext img{
        max-width:300px;
    }
}